.result-name-card {
    color: #e7e9f0;
    background: #282d4f;
    padding: 15px 20px;
    border-radius: 20px;
    margin: 15px;
}

.result-name-card:hover {
    background: #4a5079;
}

.result-name {
    font-weight: 100;
}
